* {
  zoom: 1;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: inherit;
  box-sizing: border-box;
}

:not(.material-icons) {
  font: inherit;
}

.Application {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: #a0a4a6;
  background: linear-gradient(to bottom, #808488 0%, #a8aaac 100%);
}

.Calendar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  user-select: none;
  background-color: #c0c2c4;
  box-shadow: 0 4px 16px #00000040;
  overflow: hidden;
  border-radius: 8px;
}

.CalendarControls {
  display: flex;
  flex-direction: row;
  color: #000000;
  background-color: #ffffff;
}

.CalendarControls .container {
  padding: 8px 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CalendarGrid {
  padding: 8px;
  background-color: #ffffff;
}

.CalendarGrid .container {
  display: grid;
  grid-template-columns: repeat(7, 48px);
  grid-template-rows: repeat(7, 48px);
  grid-gap: 1px;
  background-color: #c0c2c4;
}

.CalendarGrid .container .cell {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.CalendarGrid .container .cell.head {
  font-weight: 700;
}

.CalendarGrid .container .cell.outside {
  background-color: #e4e6e8;
}

.CalendarGrid .container .cell.selected {
  color: #ffffff;
  background-color: #ea2c6a;
}

.Icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.IconButton:hover {
  color: #ea2c6a;
}

.IconButton:active .Icon {
  top: 2px;
  position: relative;
}

.Selector {
  flex: 1;
  border: 1px solid #c0c2c4;
  cursor: pointer;
}

.Selector + .Selector {
  margin-left: 4px;
}

.Selector:hover {
  border-color: #ea2c6a;
}
